# Python
period-tracker-api/venv/
period-tracker-api/pertrk/
period-tracker-api/__pycache__/
period-tracker-api/**/__pycache__/
period-tracker-api/*.pyc
period-tracker-api/.env

# Node
PeriodTrackerApp/node_modules/
PeriodTrackerApp/.env

# Firebase
**/firebase-config.js
**/.firebase/
period-tracker-api/firebase-credentials.json

# OS
.DS_Store
Thumbs.db

# Ionic/React build
PeriodTrackerApp/build/
PeriodTrackerApp/dist/